<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <button (click)="toggleTag()">Recommend Projects for Me!</button>
      </div>
      <div class="row">
      </div>
      <div *ngIf="showMe" class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Project 1: 85% Match</h5>
                  <span class="h2 font-weight-bold mb-0">AWS Cloud Integration Architect</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Role ID: 1234567</span>

              </p>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Client: The Gap</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Project: 000000001</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Location: San Fransisco, CA</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Create Date: 18-Jul-2020</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Requested Start Date: 03-May-2021</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">End Date: 29-Apr-2022</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Sales Status: Unsold</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Chargeability: Chargeable</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Status: Open - In Process</span>
              </p>

            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Project 2: 80% Match</h5>
                  <span class="h2 font-weight-bold mb-0">GCP Cloud Solutions Architect</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Role ID: 123427</span>

              </p>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Client: Allscripts</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Project: 000000002</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Location: Raleigh, NC</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Create Date: 18-Jul-2020</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Requested Start Date: 02-Feb-2021</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">End Date: 01-Jan-2022</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Sales Status: Unsold</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Chargeability: Chargeable</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Status: Open - In Process</span>
              </p>

            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Project 3: 65% Match</h5>
                  <span class="h2 font-weight-bold mb-0">AWS Cloud Solutions Architect</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Role ID: 1234555</span>

              </p>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Client: Lululemon</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Project: 000000003</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Location: Vancouver, BC</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Create Date: 18-Jul-2020</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Requested Start Date: 03-Jan-2021</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">End Date: 29-Apr-2022</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Sales Status: Unsold</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Chargeability: Chargeable</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Status: Open - In Process</span>
              </p>

            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Project 4: 50% Match</h5>
                  <span class="h2 font-weight-bold mb-0">GCP Cloud Integration Architect</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Role ID: 1233333</span>

              </p>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Client: Proximity</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Project: 000000004</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Location: New York, NY</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Create Date: 18-Jul-2020</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Requested Start Date: 03-Mar-2021</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">End Date: 28-Feb-2022</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Sales Status: Unsold</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Chargeability: Chargeable</span>
              </p>

              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Status: Open - In Process</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <span class="h2 font-weight-bold mb-0">Career Flowchart</span>
                </div>
                <div class="col-auto">
                  <img src="./assets/img/brand/Career_Flow_Diagram.png" class="navbar-brand-img" alt="...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
